<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Location Maker</title>
        <link rel="shortcut icon" href="/assets/img/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    </head>
    <body>
        <nav>
            <a href="/home"><img id="logo" src="/assets/img/full-logo.png" alt="face logo"/></a>
            <div class="nav-links">
                <a href="/home">Home</a>
                <a href="/friend">Friends</a>
                <a href="/drink">Drinks</a>
                <a href="/location">Locations</a>
                <a href="/profile">Profile</a>
                <a href="/logout">Log out</a>
            </div> 
        </nav>

        <section id="location">

        </section>

        <div id="drinkMessage" class='hidden'>
            <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
            <h3><span id="errorMessage"></span></h3>
            <img id="drink" src="assets/img/drink.png" alt="domo"/>
        </div>
        <script src="/assets/locationBundle.js"></script>
    </body>
</html>